<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CouponMapper">
  <insert id="insertCoupon" parameterType="java.util.Map">
    insert into Coupon(gno,id,purchaseDate,expireDate) values(#{gno},#{id},now(),date_add(now(),interval 3 month));
  </insert>

  <resultMap id="CouponResultMap" type="Coupon">
    <id property="cno" column="cno"/>
    <result property="id" column="id"/>
    <result property="purchaseDate" column="purchaseDate"/>
    <result property="expireDate" column="expireDate"/>
    <association property="goods" column="gno" javaType="Goods" select="selectByGno"/>
  </resultMap>
  <select id="selectAllById" parameterType="String" resultMap="CouponResultMap">
    select * from Coupon where id=#{id};
  </select>
  <select id="selectByGno" resultType="Goods">
    select * from goods where gno =#{gno};
  </select>
</mapper>