<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CouponMapper">
  <insert id="insertCoupon" parameterType="java.util.Map">
    insert into Coupon(gno,id,purchaseDate,expireDate,imp_uid) values(#{gno},#{id},now(),date_add(now(),interval 3 month),#{imp_uid});
  </insert>

  <resultMap id="CouponResultMap" type="Coupon">
    <id property="cno" column="cno"/>
    <result property="id" column="id"/>
    <result property="purchaseDate" column="purchaseDate"/>
    <result property="expireDate" column="expireDate"/>
    <result property="imp_uid" column="imp_uid"/>
    <association property="goods" javaType="Goods">
      <id property="gno" column="gno"/>
      <result property="category" column="category"/>
      <result property="name" column="name"/>
      <result property="goodsInfo" column="goodsInfo"/>
      <result property="components" column="components"/>
      <result property="price" column="price"/>
      <result property="fileRealName" column="fileRealName"/>
      <result property="fileName" column="fileName"/>
      <result property="uploadPath" column="uploadPath"/>
    </association>
  </resultMap>
  <select id="selectAllById" parameterType="String" resultMap="CouponResultMap">
    select
        c.cno as cno,
        c.id as id,
        c.purchaseDate as purchaseDate,
        c.expireDate as expireDate,
        c.imp_uid as imp_uid,
        g.gno as gno,
        g.category as category,
        g.name as name,
        g.goodsInfo as goodsInfo,
        g.components as components,
        g.price as price,
        g.fileRealName as fileRealName,
        g.fileName as fileName,
        g.uploadPath as uploadPath
        from Coupon c left join goods g on g.gno = c.gno
        where id=#{id};
  </select>

    <delete id="deleteByCno" parameterType="String">
        delete from Coupon where cno = #{cno}
    </delete>
</mapper>