<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LikeMapper">


    <select id="ltlikecount" resultType="Integer" parameterType="Like">
        select count(ltlike) from likehit where reviewno=#{reviewno} and userid=#{userid}
    </select>

    <insert id="likeinsert" parameterType="Like">
        insert into likehit(reviewno,userid)
        values (#{reviewno},#{userid})
    </insert>

    <select id="ltlikegetinfo" resultType="Integer" parameterType="Like">
        select ltlike from likehit where reviewno=#{reviewno} and userid=#{userid}
    </select>

    <update id="likeupdate" parameterType="Like">
        update likehit set <include refid="cal"/> where reviewno=#{reviewno} and userid=#{userid}
    </update>
    <sql id="cal">
        ltlike = ltlike + 1
    </sql>
    <!--    <sql id="cal">-->
    <!--        <if test="count == 1">-->
    <!--            ltlike = 0-->
    <!--        </if>-->

    <!--        <if test="count == 0">-->
    <!--            ltlike = ltlike + 1-->
    <!--        </if>-->
    <!--    </sql>-->

</mapper>