<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TicketMapper">
    <select id="selectAllById" parameterType="String" resultType="Ticket">
        select * from Ticket where id=#{id} order by dayInfo;
    </select>
    <select id="pastTicketById" parameterType="String" resultType="Ticket">
        SELECT *
        from Ticket
        where id = #{id} and date_format(now(),'%Y-%m-%d') >= dayInfo and date_format(now(), '%H:%i') > timeInfo
        order by dayInfo;
    </select>
    <select id="futureTicketById" parameterType="String" resultType="Ticket">
        SELECT * from Ticket where id =#{id} and dayInfo > date_format(now(),'%Y-%m-%d') order by dayInfo;
    </select>
    <select id="currentTicketById" parameterType="String" resultType="Ticket">
        SELECT * from Ticket where id =#{id} and dayInfo = DATE_FORMAT(now(),'%Y-%m-%d') and timeInfo > date_format(now(), '%H:%i') order by dayInfo;
    </select>
    <insert id="insertTicket" parameterType="Ticket" keyProperty="tno" useGeneratedKeys="true">
        insert into Ticket(id, titleInfo, hallInfo, dayInfo, timeInfo, numberOfAdult, numberOfTeen, seats, price)
        VALUES(#{id},#{titleInfo},#{hallInfo},#{dayInfo},#{timeInfo},#{numberOfAdult},#{numberOfTeen},#{seats},#{price});
    </insert>
    <select id="selectChoiceSeats" parameterType="java.util.Map" resultType="String">
        select seats from Ticket where hallInfo=#{hallInfo} and dayInfo=#{dayInfo} and timeInfo =#{timeInfo};
    </select>
    <delete id="deleteTicket" parameterType="Integer">
        delete from Ticket where tno = #{tno};
    </delete>
    <select id="existSeat" parameterType="Ticket" resultType="Ticket">
        select * from Ticket where hallInfo=#{hallInfo} and dayInfo=#{dayInfo} and timeInfo =#{timeInfo} and seats like concat('%',#{seats},'%');
    </select>
</mapper>