<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <insert id="insertUser" parameterType="User">
    insert into User(id,password,name,birth,gender,email,phone) values (#{id},#{password},#{name},#{birth},#{gender},#{email},#{phone});
  </insert>
  <select id="selectById" parameterType="String" resultType="User">
    select * from User where id=#{id};
  </select>
  <update id="updateUser" parameterType="User">
    update User set password=#{password}, name=#{name}, birth=#{birth}, gender=#{gender},
                           email=#{email}, phone=#{phone} where id =#{id};
  </update>
  <select id="searchIdPw" parameterType="User" resultType="User">
    select * from User where  birth=#{birth} and name=#{name};
  </select>
  <delete id="deleteById" parameterType="String">
    <!-- 나중에 추가 예정 -->
  </delete>
</mapper>